// 嵌套
// 父选择器增加后缀&-header
// 属性嵌套
// 变量 $color
$color:pink;
.parent{
    .child{
        color: red;
    }
    &-header{
        // font-weight: bolder;
        font: {
            weight:bolder;
            size: 20px;
        }
    }
}
// 父选择器
a{
    color: blue;
    &:hover{
        color: $color;
    }
}