.header{
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url(../img/hero.jpg);
    background-size: cover;
    /* 背景图充满 */
    background-position: top;
    /* 图片上边缘完全展示 */

    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        /* translate */
        transform: translate(-50%,-50%);
    
        /* 隐藏animation结束抖动 */
        backface-visibility: hidden;
    
        text-align: center;
    }
    
    &__logo-box{
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    
    &__logo{
        height: 3.5rem;
    }
}