.panel {
    font-size: 1rem;  
    padding: 1em;                    
    border-radius: 0.5em;            
    border: 1px solid #999;
    font-family: var(--main-font);
    /* font-family: var(--main-font, sans-serif);     
    声明一个默认值 sans-serif */
    /* color: var(--brand-color);  */
    /* 变量 secondary-color 没有被声明，于是默认值 blue 会被使用 */
    /* color: var(--secondary-color, blue);   */
    
    background-color: var(--main-bg);      
    color: var(--main-color);  
  }
  
  .panel.large {               
    font-size: 1.2rem;
  }
  
  .panel > h2 {
    margin-top: 0;                   
    font-size: 0.8em;              
    font-weight: bold;               
    text-transform: uppercase;       
  }
  .dark {
    margin-top: 2em; 
    padding: 1em; 
    background-color: #999;        
    --main-bg: #333;                  
    --main-color: #fff;               
  }