:root{
  /* font-size: 0.825em; */
  font-size: calc(0.5em + 1vw);
  /* 自定义属性 */
  --main-font: Helvetica, Arial, sans-serif;
  --brand-color: #369;  

  
  --main-bg: #fff;
  --main-color: #000; 
  /* 室友vw平滑的调整字体 */
}
/* @media(min-width: 800px){
  :root{
    font-size: 0.875em;
  }
}
@media(min-width: 800px){
  :root{
    font-size: 1em;
  }
} */
